@CHARSET "ISO-8859-1";

@IMPORT url("template.css");
/* @IMPORT url("setPageOptions.css"); */

.login-container {
	margin-bottom: 10px;
	padding: 50px;
	font-size: 15px;
	font-family: Calibri;
	direction: center;
	width: 50%;
	float: left;
}

/* linear-gradient(45deg, #bb1881, #f88b50); */
.welcome-text {
	color: black;
	text-align: center;
}

.welcome-text .h3 {
	color: black;
	text-align: center;
}

.login-fields {
	color: black;
	text-align: center;
}

.rnd-textbox {
	color: gray;
	border-color: black;
	border-bottom-style: solid;
	border-radius: 5%;
	height: 20px;
	width: 250px;
	padding: 10px;
	display: inline-block;
	margin: 5px;
	direction: ltr;
	text-align: center;
}	

.rnd-button {
	color: White;
	border-color: black;
	border-bottom-style: solid;
	border-radius: 5%;
	height: 20px;
	width: 250px;
	padding: 20px;
	display: inline-block;
	margin: 10px;
	direction: ltr;
	text-align: center;
	background: black;
	text-shadow: black;
	font-size: 15px;
	border: thick;
}

.sub-text {
	font: italic;
	font-family: Calibri;
	font-size: small;
}

.mandatory {
	font-size: x-small;
	color: red;
}

.fieldset {
	width: 50%;
}

.watermark
{
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:white;
}

.login-content {
	margin-bottom: 10px;
	padding: 10px;
	font-size: 15px;
	float: right;
	width: 40%;
	height: 100%;
}	

hr {
	width: 1;
	height : 90%;
  border-left: thick solid white;
  float: left;
}