@CHARSET "ISO-8859-1";

@IMPORT url("template.css");
/* @IMPORT url("setPageOptions.css"); */
@CHARSET "ISO-8859-1";

.login-container {
	margin-bottom: 20px;
	padding: 75px;
	font-size: 15px;
	font-family: Calibri;
	direction: center;
}

.welcome-text {
	color: black;
	text-align: center;
}

.welcome-text .h3 {
	color: black;
	text-align: center;
}

.login-fields {
	color: black;
	text-align: center;
}

.rnd-textbox {
	color: gray;
	border-color: black;
	border-bottom-style: solid;
	border-radius: 5%;
	height: 20px;
	width: 250px;
	padding: 10px;
	display: inline-block;
	margin: 10px;
	direction: ltr;
	text-align: center;
}	

.rnd-button {
	color: White;
	border-color: black;
	border-bottom-style: solid;
	border-radius: 5%;
	height: 20px;
	width: 250px;
	padding: 20px;
	display: inline-block;
	margin: 10px;
	direction: ltr;
	text-align: center;
	background: linear-gradient(45deg, #bb1881, #f88b50);
	text-shadow: black;
	font-size: 15px;
		
}

.sub-text {
	font: italic;
	font-family: Calibri;
	font-size: small;
}

.mandatory {
	font-size: x-small;
	color: red;
}

.fieldset {
	width: 50%;
}