<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="ITEMS - inSource Technologies' Expense Management System">
  <meta name="keywords" content="expense, expense management, finance, expense tracker">
  <meta name="author" content="inSource Technologies Pvt Ltd.,">

  <title>ITEMS | About</title>

  <link rel="stylesheet" href="./css/style.css">

  <script src="./js/script.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1><span class="highlight">inSource</span> ITEMS</h1>  
      </div>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li class="current"><a href="about.html">About</a></li>
          <li><a href="account.html">Account</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <section id="newsletter">
    <div class="container">
      <h1>Subscribe to our newsletter</h1>
      <form>
        <input type="email" placeholder="Enter email."/>
        <button type="submit" class="button_1">Subscribe</button>
      </form>
    </div>
  </section>
  
  <section id="main">
    <div class="container">
      <article id="main-col">
        <h1 class="page-title"> About Us </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus efficitur eros et malesuada. Etiam in magna accumsan, consectetur ligula euismod, rutrum mi. Vivamus id aliquet libero. Ut luctus erat sapien, et imperdiet nibh ullamcorper sit amet. In hac habitasse platea dictumst. Aenean lobortis odio augue, vel mollis libero vestibulum ac. Nam eget magna at mauris cursus facilisis a in arcu. Phasellus dictum lectus augue, ac lobortis dolor maximus vel. Nam accumsan cursus facilisis. Vestibulum nec rhoncus odio, non gravida neque.
        </p>
        <div class="dark">
          <p>
            In eget rutrum arcu, et ultrices tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus dictum purus ullamcorper, scelerisque purus eget, tincidunt ex. Nunc purus purus, rhoncus vitae sem eu, cursus scelerisque leo. Aliquam erat volutpat. Mauris pellentesque suscipit lectus, quis lacinia velit interdum eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eleifend cursus magna, in eleifend sem placerat et. Fusce sem augue, finibus nec sodales a, rhoncus vitae felis. Suspendisse faucibus dignissim metus, eu tristique sem luctus et. Nulla tortor sapien, fringilla in ante in, facilisis faucibus erat. Duis pretium, neque vitae euismod commodo, velit metus elementum urna, id egestas orci sapien nec elit. Donec vehicula quam nec sapien accumsan, eget tincidunt enim porta. Aenean pulvinar massa ut neque dictum dignissim. Nullam ac ornare sem. Cras ut ultrices purus.
          </p>
        </div>
      </article>
      <aside id="sidebar">
        <div class="dark">
          <h3> What we do </h3>
          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In turpis sem, volutpat at sapien eu, consequat porttitor libero. Aliquam mattis tempor convallis. Nullam in ornare urna, vehicula sollicitudin diam. Nulla efficitur, libero sed posuere blandit, enim ligula semper velit, ac luctus erat neque vel neque. Aliquam in metus quis lectus molestie efficitur id in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras lacinia est eros, tempus pharetra mi pharetra rutrum. Donec malesuada venenatis nibh sit amet tempor. Vivamus gravida facilisis lorem a semper. Maecenas vulputate ex massa, eu volutpat sapien posuere eu.
          </p>
        </div>
      </aside>
    </div>
  </section>

  <footer>
    <p>inSource Technologies Pvt Ltd., Copyright &copy; 2017</p>
  </footer>
</body>

</html>